.footer {
    margin: 20px 100px;
    background: #000000;
    padding: 75px 100px;
    color: #DDDDDD;
}
.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #707070;
    padding-bottom: 35px;
}
.footer-left {
    align-items: center;
    max-width: 1200px;
    margin-right: auto;
}
.footer-image img {
    width: 75%;
}
.footer-right {
    display: grid;
}
.footer-icons {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-top: -20px;
}
.footer-icons ul {
    display: flex;
    list-style: none;
    margin-left: none;
}
.footer-icons ul li {
    display: flex;
    margin-left: 20px;
    height: 12px;
}
.footer-down {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.2fr;
    gap: 0 100px;
    padding-top: 30px;
}
.instagram ul {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
}
.instagram h3 {
    margin-left: 40px;
}
.instagram ul li {
    list-style-type: none;
}
.instagram ul li img {
    width: 50px;
}
.footer-about {
    line-height: 0.8em;
}
.footer-about p {
    font-size: 0.8em;
    line-height: 2em;
}
.footer-about p:nth-child(2) {
    color: #707070;
}
.footer-contact {
    line-height: 0.8em;
}
.footer-contact p {
    color: #707070;
    font-size: 0.8em;
    line-height: 1em;
}
.footer-contact p:nth-child(2) {
    color: #DDDDDD;
}
.white-space {
    height: 5px;
}