body {
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
  font-family: Times New Georgia, "Times New Roman", Times, serif;
}

/* tablet view */
@media screen and (max-width: 768px) {
  body {
    width: 126%;
  }
}
